@font-face {
font-family: 'AvenirNext forINTUIT';
font-weight: 400;
font-style: normal;
font-display: swap;
src: local('Avenir Next Regular'), local('AvenirNext-Regular'),
    url('../fonts/avenir-400.woff2') format('woff2'), url('../fonts/avenir-400.woff') format('woff');
}

@font-face {
font-family: 'AvenirNext forINTUIT';
font-weight: 400;
font-style: italic;
font-display: swap;
src: local('Avenir Next Regular Italic'), local('AvenirNext-Regular-Italic'),
    url('../fonts/avenir-400-it.woff2') format('woff2'), url('../fonts/avenir-400-it.woff') format('woff');
}

@font-face {
font-family: 'AvenirNext forINTUIT';
font-weight: 500;
font-style: normal;
font-display: swap;
src: local('Avenir Next Medium'), local('AvenirNext-Medium'),
    url('../fonts/avenir-500.woff2') format('woff2'), url('../fonts/avenir-500.woff') format('woff');
}

@font-face {
font-family: 'AvenirNext forINTUIT';
font-weight: 500;
font-style: italic;
font-display: swap;
src: local('Avenir Next Medium Italic'), local('AvenirNext-Medium-Italic'),
    url('../fonts/avenir-500-it.woff2') format('woff2'), url('../fonts/avenir-500-it.woff') format('woff');
}

@font-face {
font-family: 'AvenirNext forINTUIT';
font-weight: 600;
font-style: normal;
font-display: swap;
src: local('Avenir Next Demi Bold'), local('AvenirNext-DemiBold'),
    url('../fonts/avenir-600.woff2') format('woff2'), url('../fonts/avenir-600.woff') format('woff');
}

@font-face {
font-family: 'AvenirNext forINTUIT';
font-weight: 600;
font-style: italic;
font-display: swap;
src: local('Avenir Next Demi Bold Italic'), local('AvenirNext-DemiBold-Italic'),
    url('../fonts/avenir-600-it.woff2') format('woff2'), url('../fonts/avenir-600-it.woff') format('woff');
}

@font-face {
font-family: 'AvenirNext forINTUIT';
font-weight: 700;
font-style: normal;
font-display: swap;
src: local('Avenir Next Bold'), local('AvenirNext-Bold'),
    url('../fonts/avenir-700.woff2') format('woff2'), url('../fonts/avenir-700.woff') format('woff');
}

@font-face {
font-family: 'AvenirNext forINTUIT';
font-weight: 700;
font-style: italic;
font-display: swap;
src: local('Avenir Next Bold Italic'), local('AvenirNext-Bold-Italic'),
    url('../fonts/avenir-700-it.woff2') format('woff2'), url('../fonts/avenir-700-it.woff') format('woff');
}

@font-face {
font-family: 'AvenirNext forINTUIT';
font-weight: 800;
font-style: normal;
font-display: swap;
src: local('Avenir Next Heavy'), local('AvenirNext-Heavy'),
    url('../fonts/avenir-800.woff2') format('woff2'), url('../fonts/avenir-800.woff') format('woff');
}

*,
*::before,
*::after {
box-sizing: border-box;
}

:root {
font-family: 'AvenirNext forINTUIT', Helvetica, Arial, sans-serif;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
scroll-behavior: smooth;
font-size: 100%;
}