@media (min-width: 1024px) {
    #custRwCard div[class*="RwCardsContainer_container__"] {
        padding-bottom: 0px;
    }
    #custRwCard div[class*="RwCarousel_rwGroup__"] {
        width: var(--grid-column-12);
    }
    #custRwCard div[class*="RwCarousel_controls__"] {
        display: none;
    }
    #custRwCard div[class*="RwCarousel_active__"] {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px 20px;
        justify-content: center;
        padding: 20px 0 25px;
    }
    #custRwCard div[class*="RwCarousel_carouselItem3__"] {
        flex: none;
        width: 300px;
        height: 390px;
        margin: 0;
    }
    #custRwCard div[class*="RwCarousel_carouselItem3__"] img {
        width: auto;
        height: auto;
    }
    #custRwCard div[class*="RwCarousel_carouselItem3__"]:nth-child(3) h3 {
        margin-bottom: 52px;
    }
    #custRwCard div[class*="RwCard_cardIcon__"]+div [class*="RwCard_rwCardHeader__"] {
        color: #0D333F;
    }
    #custRwCard div[class*="RwCarousel_carouselItem3__"]>[class*=rwCard] {
        box-shadow: none;
        background: #DBEDEE;
        border-radius: 16px;
    }
    #custRwCard div[class*="RwCard_cardIcon__"] {
        padding-top: 30px;
    }
    #custRwCard div[class*="RwCard_link__"][class*="RwCard_centered__"] {
        padding-top: 15px;
    }
    #custRwCard [class*="rwCard"] [class*="RwCard_dataContainer__"] {
        padding: 0px 20px 20px;
    }
    #custRwCard div[class*="RwCard_cardIcon__"]+div [class*="RwCard_rwCardHeader__"] {
        padding: 0 21px;
    }
    div[class*="Rw2Hero_leftContent__"] .ql-font-display03.ql-size-heavy {
        font-weight: var(--font-weight-heavy);
    }
}
@media (min-width: 1220px) {
    #custRwCard div[class*="RwCarousel_rwGroup__"] {
        width: calc(var(--grid-column-10) + 2rem);
    }
    #custRwCard div[class*="RwCarousel_active__"] {
        gap: 40px 40px;
    }
}
@media (min-width: 1440px) {
    #custRwCard div[class*="RwCarousel_active__"] {
        gap: 60px 60px;
    }
    #custRwCard [class*="rwCard"] [class*="RwCard_dataContainer__"] {
        padding: 0px 40px 40px;
    }
    #custRwCard div[class*="RwCarousel_carouselItem3__"] {
        width: 336px;
        height: 372px;
    }
    #custRwCard div[class*="RwCard_cardIcon__"]+div [class*="RwCard_rwCardHeader__"] {
        padding: 0 40px;
    }
}